[submodule "vendored/Catch2@v3.8.1"]
	path = vendored/Catch2@v3.8.1
	url = https://github.com/catchorg/Catch2.git
[submodule "vendored/SDL@release-3.2.22"]
	path = vendored/SDL@release-3.2.22
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendored/imgui/imgui@v1.92.2b"]
	path = vendored/imgui/imgui@v1.92.2b
	url = https://github.com/ocornut/imgui.git
