
# Build target

ngi
ngi.exe
libng.a
ng_test

# CMake

CMakeFiles/
_deps/
cmake_install.cmake
CMakeCache.txt

#CTest

Testing/
CTestTestfile.cmake
DartConfiguration.tcl
ng_test*_include.cmake
ng_test*_tests.cmake

# Make

Makefile

# Ninja

build.ninja
.ninja_deps
.ninja_log

# VS Code

.vscode
build/

# LLVM Coverages

coverage/
index.html
style.css
control.js
*.profdata
*.profraw

# Leaks
LeaksReport.txt

reports/
